*  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  padding-top: 48px;
  }

img {
  width: 100%;
  height: auto;
  }

.container {
  padding: 24px;
  }

#ABOUT, #WORKS {
  padding-bottom: 100px;
}

.navbar {
  text-align: center;
}

.navbar-brand span {
  font-size: 8px;
}

.wrapper {
  padding: 0 1.5rem;
  width: 100%;
  margin: 0 auto;
  max-width: 1080px;
}

.topMain_contents {
  position: relative;
  max-width: 1080px;
  height: 550px;
  margin-bottom: 120px;
}

img.main-visual {
  width: 700px;
  top: 50px;
  right: 0;
}

p.topMain-text-1 {
  top: 200px;
  left: 0;
  z-index: 2;
  display: block;
  font-size: 70px;
  letter-spacing: 1.3rem;
}

p.topMain-text-2 {
  top: 320px;
  left: 0;
  z-index: 2;
  display: block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.15rem;
}

.topMain-read {
  top: 400px;
  z-index: 2;
  left:0;
  font-size: 17px;
  letter-spacing: 0.2rem;
}

.topMain-read-text span {
  background:  linear-gradient(transparent 60%,pink 60%);
}

.topMain-text-1, .topMain-text-2, .topMain-read, .main-visual {
  position: absolute;
}

.col-xs-12 .col-lg-6 img {
  height: 200px;
  width: 200px;
}

#ABOUT {
  background-color: rgb(250, 234, 239);
}

#ABOUT p {
  display : flex;
  align-items: flex-start;
}

.AboutImg img {
  width: 100%;
  height: auto;
}

.EXPLAIN p {
  padding: 24px;
  margin: 56px;
  vertical-align: center;
  background-color: white;
}

#SERVICE {
  padding: 64px 0;
}

.EXPLAIN2  {
  padding: 48px;
  vertical-align: center;
  background-color: rgb(250, 234, 239);
}

.ServiceImg img, .YogaImg img {
  width: 60%;
  height: auto;
  margin: 56px;
}

.ICONS {
  color: rgb(209, 65, 101);
  margin-right: 15px;
  margin: 0 auto;
}



#WORKS {
  margin: 0 auto;
  background-color: rgb(250, 234, 239);
}

.boxLink {
  text-align: center;
  font-weight: bold;
}

#WORKS a {
  text-decoration: none;
  border: crimson;
}

.main_container h1, h3, h6 {
  text-align: center;
}

.submit {
  text-align: center;
}

.btn {
  background-color: pink;
  margin-bottom: 10px;
}

.btn:hover {
  background-color: #ff0077;
}

footer {
  text-align: center;
  background-color: rgb(250, 234, 239);
}

.list-inline-item a {
  font-size: 16px;
  line-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  transition: all .3s;
  color:white;
  border-radius: 100%;
  outline: 0;
  background-color: #212529;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.list-inline-item :hover {
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
  transform: translateY(-0.1875em);
}