*  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI','Arial',YuGothic,'Yu Gothic','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3','メイリオ', Meiryo,'ＭＳ ゴシック',sans-serif;
  padding-top: 88px;
  }

.container {
  padding: 24px;
}

.navbar {
  text-align: center;
}

.navbar-brand span {
  font-size: 8px;
}

.jumbotron {
  background-image: url("https://picsum.photos/1200/600");
  background-size: cover;
  background-position: center 60%;
  min-height: 560px;
}

.main_container img {
  border-radius: 50%;
}

#WORKS {
  margin: 0 auto;
}

.boxLink {
  text-align: center;
  font-weight: bold;
}

.boxLink a {
  text-decoration: none;
}

#SERVICE {
  background-color: palevioletred;
}

#CONTACT {
  background-color: palevioletred;
}

.main_container h1, .main_container h3, .main_container p {
  text-align: center;
}

.submit {
  text-align: center;
}

.btn {
  border-color: red;
  background-color: bisque;
  margin-bottom: 10px;
}

footer {
  text-align: center;
}

.list-inline-item a {
  font-size: 16px;
  line-height: 32px;
  display: block;
  width: 32px;
  height: 32px;
  transition: all .3s;
  color:white;
  border-radius: 100%;
  outline: 0;
  background-color: #212529;
  text-align: center;
}
