*  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

@media screen and (max-width:768px) {
  /*スマホ用のcssを記述*/
  .contact-form {
    width: 100%;
  }
 
 
}

@media only screen and (min-width:769px) and (max-width:1140px) {
  /*tablet用のcssを記述*/
  }