*  {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

@media screen and (max-width:767px) {
  /*スマホ用のcssを記述*/
  .contact-form {
    width: 100%;
  }

  .wrapper {
    padding-right: 0;
  }

  .topMain-read {
    top: 360px;
  }

  .EXPLAIN p {
    margin: 0;
  }

  .main_container h1, h3, h6 {
    text-align: center;
    letter-spacing: none;
  }

  .topMain-text-2 {
    color: white;
    font-weight: bold;
    text-shadow: 6px 5px 2px black;
  }

  .topMain-read {
    color: rgb(22, 21, 22);
  }

  .topMain-read-text span {
    background:  linear-gradient(transparent 0%,pink 50%);
    font-weight: normal;
  }

  .web, .yoga {
  margin: 16px 0;
  }

}

@media only screen and (min-width:768px) and (max-width:1140px) {
  /*tablet用のcssを記述*/
  .web, .yoga {
    margin: 16px 0;
  }

  .boxLink {
    width: 70%;
    margin: 16px auto;
  }

  #WORKS {
    margin-right: 0;
  }
}